@font-face {
  font-family: 'titillium_bdbold';
  src: url("../fonts/titillium-bold-webfont.eot");
  src: url("../fonts/titillium-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-bold-webfont.woff2") format("woff2"), url("../fonts/titillium-bold-webfont.woff") format("woff"), url("../fonts/titillium-bold-webfont.ttf") format("truetype"), url("../fonts/titillium-bold-webfont.svg#titillium_bdbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titilliumlight';
  src: url("../fonts/titillium-light-webfont.eot");
  src: url("../fonts/titillium-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-light-webfont.woff2") format("woff2"), url("../fonts/titillium-light-webfont.woff") format("woff"), url("../fonts/titillium-light-webfont.ttf") format("truetype"), url("../fonts/titillium-light-webfont.svg#titilliumlight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titilliumregular';
  src: url("../fonts/titillium-regular-webfont.eot");
  src: url("../fonts/titillium-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-regular-webfont.woff2") format("woff2"), url("../fonts/titillium-regular-webfont.woff") format("woff"), url("../fonts/titillium-regular-webfont.ttf") format("truetype"), url("../fonts/titillium-regular-webfont.svg#titilliumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titilliumbold';
  src: url("../fonts/titillium-semibold-webfont.eot");
  src: url("../fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semibold-webfont.woff2") format("woff2"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#titilliumbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titilliumsemibold';
  src: url("../fonts/titillium-semibold-webfont.eot");
  src: url("../fonts/titillium-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/titillium-semibold-webfont.woff2") format("woff2"), url("../fonts/titillium-semibold-webfont.woff") format("woff"), url("../fonts/titillium-semibold-webfont.ttf") format("truetype"), url("../fonts/titillium-semibold-webfont.svg#titilliumbold") format("svg");
  font-weight: normal;
  font-style: normal; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

@-webkit-keyframes progressBarSpinBefore {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    transform: rotate(324deg); } }

@keyframes progressBarSpinBefore {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(324deg);
    -ms-transform: rotate(324deg);
    transform: rotate(324deg); } }

@-webkit-keyframes progressBarSpinAfter {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #30bae7; } }

@keyframes progressBarSpinAfter {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #30bae7; } }

@-webkit-keyframes progressBarSpinAfterSecond {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #d74680; } }

@keyframes progressBarSpinAfterSecond {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #d74680; } }

@-webkit-keyframes progressBarSpinAfterThird {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #15c7a8; } }

@keyframes progressBarSpinAfterThird {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #15c7a8; } }

@-webkit-keyframes progressBarSpinAfterFourth {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eb7d4b; } }

@keyframes progressBarSpinAfterFourth {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    background: #eb7d4b; } }

* {
  box-sizing: border-box; }

h1 {
  font: 42px/16px "titillium_bdbold"; }

h2 {
  font: 24px/12px "titillium_bdbold"; }

button {
  font: 18px/10px "titilliumbold"; }

p {
  font: 18px/10px "titilliumregular"; }

a {
  font: 18px/10px "titilliumbold"; }

#header {
  list-style: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #87509c;
  z-index: 100; }
  #header .navbar-default {
    background: none;
    border: 0; }
  #header .navbar-toggle {
    margin: 35px 0;
    z-index: 100; }
  #header .navbar-right {
    padding-top: 30px;
    float: right; }
  #header a {
    color: #fff;
    text-transform: uppercase;
    font: 18px/10px "titilliumregular"; }
  #header .navbar-default .navbar-nav .active a {
    background: #643a79;
    border-radius: 6px;
    text-transform: uppercase; }
  #header .nav li .active,
  #header .nav a:hover {
    background: #643a79;
    text-decoration: none;
    border-radius: 4px; }
  #header img {
    margin: 30px 0 30px; }

.welcome {
  padding: 145px 0;
  overflow: hidden;
  background: #87509c; }
  .welcome h1 {
    color: #fff;
    line-height: 50px;
    margin-bottom: 55px;
    padding-bottom: 20px; }
  /*.welcome a {
    line-height: 18px;
    color: #fff;
    background: #eb7d4b;
    padding: 25px 75px;
    display: inline-block;
    box-shadow: 0 4px 2px #b84200; }*/

.welcome button {
    line-height: 18px;
    color: #fff;
    background: #eb7d4b;
    padding: 25px 75px;
    display: inline-block;
    box-shadow: 0 4px 2px #b84200;
    font: 18px/10px "titilliumbold"; }



.services {
  padding: 120px 0;
  color: #fff;
  overflow: hidden;
  background: #17c2a4; }
  .services .img img {
    margin: 30px; }
  .services h1 {
    line-height: 50px;
    margin-bottom: 20px; }
  .services hr {
    background-color: #14a58c;
    border-bottom: 5px solid #14a58c;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .services h2 {
    line-height: 60px;
    text-transform: uppercase;
    margin: 0 3px; }
  .services p {
    line-height: 30px; }

.team {
  padding: 120px 0;
  overflow: hidden;
  background: #e7f1f8; }
  .team h1 {
    line-height: 50px;
    color: #3c4761;
    margin-bottom: 20px; }
  .team hr {
    background-color: #c8d9e5;
    border-bottom: 5px solid #c8d9e5;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .team h2 {
    color: #3c4761;
    text-transform: uppercase; }
  .team img {
    width: 196px;
    margin: 80px 0 40px; }
  .team p {
    line-height: 30px;
    color: #3c4761; }
  .team .social {
    margin: 30px 0; }
  .team .social a {
    border-radius: 50%;
    color: #fff;
    font-size: large;
    size: 17px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    height: 32px;
    line-height: 31px;
    margin: 0 4px;
    text-decoration: none;
    vertical-align: middle;
    width: 32px; }
  .team .social a:hover {
    color: #30bae7; }

.skills {
  padding: 120px 0;
  background: #fff;
  /* 90% = 324(deg) = 360(deg) * 90(%) / 100(%) */
  /* 10% = 36(deg) = 360(deg) * 10(%) / 100(%) */
  /* 75% = 260(deg) = 360(deg) * 75(%) / 100(%) */
  /* 25% = 80(deg) = 360(deg) * 25(%) / 100(%) */ }
  .skills .circleProgressBar:before {
    content: '';
    width: 80px;
    height: 160px;
    background: #30bae7;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: progressBarSpinBefore 0.5s linear forwards;
            animation: progressBarSpinBefore 0.5s linear forwards;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center; }
  .skills .circleProgressBarSecond:before {
    content: '';
    width: 80px;
    height: 75px;
    background: #dfe8ed;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-animation: progressBarSpinBefore 0.5s linear forwards;
            animation: progressBarSpinBefore 0.5s linear forwards;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center; }
  .skills .circleProgressBar {
    width: 160px;
    height: 160px;
    padding: 13px;
    margin: 0 auto;
    background: #dfe8ed;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 1; }
  .skills .circleProgressBar:after {
    content: '';
    width: 80px;
    height: 160px;
    background: #15c7a8;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-animation: progressBarSpinAfter 0s linear 0.25s forwards;
            animation: progressBarSpinAfter 0s linear 0.25s forwards;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center; }
  .skills .circleProgressBarSecond:after {
    content: '';
    width: 80px;
    height: 160px;
    background: #30bae7;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    -webkit-animation: progressBarSpinAfter 0s linear 0.25s forwards;
            animation: progressBarSpinAfter 0s linear 0.25s forwards;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center; }
  .skills .insideCPB {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    position: relative;
    z-index: 200;
    text-align: center;
    display: table; }
  .skills span {
    font-size: 43px;
    padding: 4px 0 2px 12px;
    display: table-cell;
    vertical-align: middle; }
  .skills .content {
    margin: 85px 0 0; }
  .skills .third:before {
    background: #15c7a8; }
  .skills .fourth:before {
    background: #eb7d4b; }
  .skills .third:after {
    -webkit-animation: progressBarSpinAfterPurple 0s linear 0.25s forwards;
            animation: progressBarSpinAfterPurple 0s linear 0.25s forwards; }
  .skills .fourth:after {
    -webkit-animation: progressBarSpinAfterGreen 0s linear 0.25s forwards;
            animation: progressBarSpinAfterGreen 0s linear 0.25s forwards; }
  .skills .second:before {
    background: #d74680; }
  .skills .second:after {
    -webkit-animation: progressBarSpinAfterBlack 0s linear 0.25s forwards;
            animation: progressBarSpinAfterBlack 0s linear 0.25s forwards; }
  .skills h1 {
    line-height: 50px;
    margin-bottom: 20px;
    color: #3c4761; }
  .skills hr {
    background-color: #dfe8ed;
    border-bottom: 5px solid #dfe8ed;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .skills h2 {
    margin: 32px 0 20px;
    text-transform: uppercase;
    color: #3c4761; }
  .skills p {
    line-height: 30px;
    color: #3c4761; }

.portfolio {
  background: #ffdd99;
  padding: 120px 0; }
  .portfolio .content.nav-tabs {
    display: inline-block;
    border-bottom: 1px solid #ddd;
    border-bottom: none; }
  .portfolio h1 {
    line-height: 50px;
    margin-bottom: 20px; }
  .portfolio hr {
    background-color: #e5c37f;
    border-bottom: 5px solid #e5c37f;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .portfolio h2 {
    text-transform: uppercase;
    margin: 0 0 50px;
    line-height: inherit; }
  .portfolio .nav-tabs {
    border-bottom: none;
    display: inline-block; }
  .portfolio li {
    width: 60px;
    color: #555555;
    background-color: #eee;
    border-radius: 4px;
    cursor: default;
    margin: 0 5px;
    background: #ebc985; }
  .portfolio .nav-tabs > li > a {
    padding: 10px 0; }
  .portfolio img {
    max-width: 100%;
    margin: 60px 0 30px; }
  .portfolio a {
    margin: 0;
    padding: 10px 25px;
    color: #555555;
    padding: 25px 55px; }
  .portfolio .tab-content {
    margin-bottom: 90px; }
  .portfolio button {
    color: #fff;
    background: #17c2a4;
    display: inline-block;
    line-height: 18px;
    padding: 25px 35px;
    font-size: large;
    box-shadow: 0px 5px 2px rgba(0, 90, 0, 0.6); }
  .portfolio p {
    line-height: 30px;
    color: #000;
    margin-bottom: 45px;
    display: inline-block;
    line-height: 30px; }

.about {
  background: #d74680;
  padding: 120px 0;
  overflow: hidden; }
  .about h1 {
    line-height: 50px;
    color: #fff;
    margin-bottom: 20px; }
  .about hr {
    background-color: #b73c6d;
    border-bottom: 5px solid #b73c6d;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .about img {
    width: 90px;
    margin-top: 0; }
  .about q {
    color: #fff; }
  .about p {
    line-height: 30px;
    color: #fff;
    margin-bottom: 45px; }
  .about a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase; }
  .about .content p {
    color: #efa18f; }
  .about .author {
    margin: 35px 0 0; }
  .about dd {
    font-style: italic; }
  .about dt {
    float: left;
    margin-left: 1em; }
  .about blockquote {
    text-align: left;
    display: inline-block;
    border-left: none; }

.feedback {
  padding: 120px 0;
  overflow: hidden;
  color: #fff;
  background: #3c5499; }
  .feedback input::-moz-placeholder {
    color: #fff; }
  .feedback form {
    margin: 0 auto; }
  .feedback input::-webkit-input-placeholder {
    color: #fff; }
  .feedback textarea::-moz-placeholder {
    color: #fff; }
  .feedback textarea::-webkit-input-placeholder {
    color: #fff; }
  .feedback h1 {
    line-height: 50px;
    margin-bottom: 20px; }
  .feedback hr {
    background-color: #273a71;
    border-bottom: 5px solid #273a71;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px;
    border: none; }
  .feedback p {
    line-height: 30px;
    margin-bottom: 45px; }
  .feedback input {
    margin-top: 25px;
    background: #273a71;
    color: #fff;
    padding: 24px;
    border: none;
    outline: none; }
  .feedback textarea {
    background: #273a71;
    margin-top: 25px;
    color: #fff;
    padding: 24px;
    border: none;
    outline: none; }
  .feedback .btn.btn-default {
    color: #fff;
    line-height: 18px;
    background: #30bae7;
    padding: 25px 70px;
    margin-top: 60px;
    font-size: large;
    border: none;
    box-shadow: 0 4px 2px #53d4fb;
    text-transform: uppercase; }

#footer {
  padding: 40px 0;
  text-align: center;
  width: 100%;
  display: block;
  overflow: hidden;
  background: #344b8e; }
  #footer a {
    color: #fff;
    margin: auto 50px;
    text-decoration: none;
    font: 24px "titilliumsemibold"; }
  #footer a:hover {
    color: #327fb8; }
  #footer .active {
    color: #327fb8; }
/*# sourceMappingURL=all.css.map */