$breakpoints: (
	'xs-phone': 320px,
	'phone': 425px,
	'tablet': 768px,
	'desktop': 1024px,
	'widescreen': 1200px
	);

// keywords
$media-expressions: (
	'screen': 'screen',
	'print': 'print',
	'handheld': 'handheld',
	'landscape': '(orientation: landscape)',
	'portrait': '(orientation: portrait)',
	'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
	'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
	);

@font-face {
	font-family: 'titillium_bdbold';
	src: url('../fonts/titillium-bold-webfont.eot');
	src: url('../fonts/titillium-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/titillium-bold-webfont.woff2') format('woff2'),
	url('../fonts/titillium-bold-webfont.woff') format('woff'),
	url('../fonts/titillium-bold-webfont.ttf') format('truetype'),
	url('../fonts/titillium-bold-webfont.svg#titillium_bdbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titilliumlight';
	src: url('../fonts/titillium-light-webfont.eot');
	src: url('../fonts/titillium-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/titillium-light-webfont.woff2') format('woff2'),
	url('../fonts/titillium-light-webfont.woff') format('woff'),
	url('../fonts/titillium-light-webfont.ttf') format('truetype'),
	url('../fonts/titillium-light-webfont.svg#titilliumlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titilliumregular';
	src: url('../fonts/titillium-regular-webfont.eot');
	src: url('../fonts/titillium-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/titillium-regular-webfont.woff2') format('woff2'),
	url('../fonts/titillium-regular-webfont.woff') format('woff'),
	url('../fonts/titillium-regular-webfont.ttf') format('truetype'),
	url('../fonts/titillium-regular-webfont.svg#titilliumregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titilliumbold';
	src: url('../fonts/titillium-semibold-webfont.eot');
	src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
	url('../fonts/titillium-semibold-webfont.woff') format('woff'),
	url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
	url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'titilliumsemibold';
	src: url('../fonts/titillium-semibold-webfont.eot');
	src: url('../fonts/titillium-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/titillium-semibold-webfont.woff2') format('woff2'),
	url('../fonts/titillium-semibold-webfont.woff') format('woff'),
	url('../fonts/titillium-semibold-webfont.ttf') format('truetype'),
	url('../fonts/titillium-semibold-webfont.svg#titilliumbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

// $base-font-size: 16px;
// $base-line-height: 20px;
$font-bold: "titillium_bold", Arial, Helvetica, sans-serif;
$font-regular: "titillium_regular", Arial, Helvetica, sans-serif;
$font-semibold: "titillium_semibold", Arial, Helvetica, sans-serif;

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';

@keyframes progressBarSpinBefore {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(324deg);
		-moz-transform: rotate(324deg);
		-o-transform: rotate(324deg);
		-ms-transform: rotate(324deg);
		transform: rotate(324deg);

	}
}


@keyframes progressBarSpinAfter {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		background: #30bae7;
	}
}

@keyframes progressBarSpinAfterSecond {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		background: #d74680;
	}
}

@keyframes progressBarSpinAfterThird {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		background: #15c7a8;
	}
}

@keyframes progressBarSpinAfterFourth {
	from {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		transform: rotate(180deg);
		background: #eb7d4b;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font: 42px/16px "titillium_bdbold";
}

h2 {
	font: 24px/12px "titillium_bdbold";
}

button {
	font: 18px/10px "titilliumbold";
}

p {
	font: 18px/10px "titilliumregular";
}

a {
	font: 18px/10px "titilliumbold";
}

#header {
	list-style: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #87509c;
	z-index: 100;
	.navbar-default{
		background: none;
		border: 0;
	}
	.navbar-toggle{
		margin: 35px 0;
		z-index: 100;
	}
	.navbar-right {
		padding-top: 30px;
		float: right;
	}
	a {
		color: #fff;
		text-transform: uppercase;
		font: 18px/10px "titilliumregular";
	}
	.navbar-default .navbar-nav
	.active a {
		background: #643a79;
		border-radius: 6px;
		text-transform: uppercase;
	}
	.nav li .active,
	.nav a:hover {
		background: #643a79;
		text-decoration: none;
		border-radius: 4px;
	}
	img {
		margin: 30px 0 30px;
	}
}

.welcome {
	padding: 145px 0;
	overflow: hidden;
	background: #87509c;
	h1 {
		color: #fff;
		line-height: 50px;
		margin-bottom: 55px;
		padding-bottom: 20px;
	}
	button {
		line-height: 18px;
		color: #fff;
		background: #eb7d4b;
		display: inline-block;
		padding: 25px 35px;
		font-size: large;
		box-shadow: 0px 5px 2px rgba(184,66,0,1.6);
	}
}

.services {
	padding: 120px 0;
	color: #fff;
	overflow: hidden;
	background: #17c2a4;
	.img img{
		margin: 30px;
	}
	h1 {
		line-height: 50px;
		margin-bottom: 20px;
	}
	hr {
		background-color: #14a58c;
		border-bottom: 5px solid #14a58c;
		width: 85px;
		height: 4px;
		margin: 0 auto 25px;
		border: none;
	}
	h2 {
		line-height: 60px;
		text-transform: uppercase;
		margin: 0 3px;
	}
	p {
		line-height: 30px;
	}
}

.team {
	padding: 120px 0;
	overflow: hidden;
	background: #e7f1f8;
	h1 {
		line-height: 50px;
		color: #3c4761;
		margin-bottom: 20px;
	}
	hr {
		background-color: #c8d9e5;
		border-bottom: 5px solid #c8d9e5;
		width: 85px;
		height: 4px;
		margin: 0 auto 25px;
		border: none;
	}
	h2 {
		color: #3c4761;
		text-transform: uppercase;
	}
	img {
		width: 196px;
		margin: 80px 0 40px;
	}
	p {
		line-height: 30px;
		color: #3c4761;
	}
	.social {
		margin: 30px 0;
	}
	.social a {
		border-radius: 50%;
		color: #fff;
		font-size: large;
		size: 17px;
		background: rgba(0, 0, 0, .2) none repeat scroll 0 0;
		height: 32px;
		line-height: 31px;
		margin: 0 4px;
		text-decoration: none;
		vertical-align: middle;
		width: 32px;
	}
	.social a:hover {
		color: #30bae7;
	}
}

.skills {
	padding: 120px 0;
	background: #fff;
	.circleProgressBar:before {
		content: '';
		width: 80px;
		height: 160px;
		background: #30bae7;
		position: absolute;
		left: 0;
		top: 0;
		animation: progressBarSpinBefore 0.5s linear forwards;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-ms-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}
	.circleProgressBarSecond:before {
		content: '';
		width: 80px;
		height: 75px;
		background: #dfe8ed;
		position: absolute;
		left: 0;
		bottom: 0;
		animation: progressBarSpinBefore 0.5s linear forwards;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-ms-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

	.circleProgressBar {
		width: 160px;
		height: 160px;
		padding: 13px;
		margin: 0 auto;
		background: #dfe8ed;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	.circleProgressBar:after {
		content: '';
		width: 80px;
		height: 160px;
		background: #15c7a8;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
		animation: progressBarSpinAfter 0s linear 0.25s forwards;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-ms-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

	.circleProgressBarSecond:after {
		content: '';
		width: 80px;
		height: 160px;
		background: #30bae7;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
		animation: progressBarSpinAfter 0s linear 0.25s forwards;
		-webkit-transform-origin: right center;
		-moz-transform-origin: right center;
		-ms-transform-origin: right center;
		-o-transform-origin: right center;
		transform-origin: right center;
	}

	.insideCPB {
		width: 134px;
		height: 134px;
		border-radius: 50%;
		background: #fff;
		overflow: hidden;
		position: relative;
		z-index: 200;
		text-align: center;
		display: table;
	}
	span {
		font-size: 43px;
		padding: 4px 0 2px 12px;
		display: table-cell;
		vertical-align: middle;
	}
	.content {
		margin: 85px 0 0;
	}
	.third:before {
		background: #15c7a8;
	}
	.fourth:before {
		background: #eb7d4b;
	}
	.third:after {
		animation: progressBarSpinAfterPurple 0s linear 0.25s forwards;
	}
	.fourth:after {
		animation: progressBarSpinAfterGreen 0s linear 0.25s forwards;
	}
	/* 90% = 324(deg) = 360(deg) * 90(%) / 100(%) */
	/* 10% = 36(deg) = 360(deg) * 10(%) / 100(%) */
	.second:before {
		background: #d74680;
	}
	.second:after {
		animation: progressBarSpinAfterBlack 0s linear 0.25s forwards;
	}
	/* 75% = 260(deg) = 360(deg) * 75(%) / 100(%) */
	/* 25% = 80(deg) = 360(deg) * 25(%) / 100(%) */

	h1 {
		line-height: 50px;
		margin-bottom: 20px;
		color: #3c4761;
	}
	hr {
    background-color: #dfe8ed;  // del?
    border-bottom: 5px solid #dfe8ed;
    width: 85px;
    height: 4px;
    margin: 0 auto 25px; // вот!
    border: none;
}
h2 {
	margin: 32px 0 20px;
	text-transform: uppercase;
	color: #3c4761;
}
p {
	line-height: 30px;
	color: #3c4761;
}
}

.portfolio {
	background: #ffdd99;
	padding: 120px 0;
	.content.nav-tabs {
		display: inline-block;
		border-bottom: 1px solid #ddd;
		border-bottom: none;
	}
	h1 {
		line-height: 50px;
		margin-bottom: 20px;
	}
	hr {
		background-color: #e5c37f;
		border-bottom: 5px solid #e5c37f;
		width: 85px;
		height: 4px;
		margin: 0 auto 25px;
		border: none;
	}
	h2 {
		text-transform: uppercase;
		margin: 0 0 50px;
		line-height: inherit;
	}
	.nav-tabs {
		border-bottom: none;
		display: inline-block;
	}
	li {
		width: 60px;
		color: #555555;
		background-color: #eee;
		border-radius: 4px;
		cursor: default;
		margin: 0 5px;
		background: #ebc985;
	}
	.nav-tabs > li > a {
		padding: 10px 0;
	}
	img {
		max-width: 100%;
		margin: 60px 0 30px;
	}
	a {
		margin: 0;
		padding: 10px 25px;
		color: #555555;
		padding: 25px 55px;
	}
	.tab-content{
		margin-bottom: 90px;
	}
	button {
		color: #fff;
		background: #17c2a4;
		display: inline-block;
		line-height: 18px;
		padding: 25px 35px;
		font-size: large;
		box-shadow: 0px 5px 2px rgba(0,90,0,0.6);
	}
	p {
		line-height: 30px;
		color: #000;
		margin-bottom: 45px;
		display: inline-block;
		line-height: 30px;
	}
}
.about {
	background: #d74680;
	padding: 120px 0;
	overflow: hidden;
	h1 {
		line-height: 50px;
		color: #fff;
		margin-bottom: 20px;
	}
	hr {
		background-color: #b73c6d;
		border-bottom: 5px solid #b73c6d;
		width: 85px;
		height: 4px;
		margin: 0 auto 25px;
		border: none;
	}
	img {
		width: 90px;
		margin-top: 0;
	}
	q {
		color: #fff;
	}
	p {
		line-height: 30px;
		color: #fff;
		margin-bottom: 45px;
	}
	a {
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
	}
	.content p {
		color: #efa18f;
	}
	.author {
		margin: 35px 0 0;
	}
	dd {
		font-style: italic;
	}
	dt {
		float: left;
		margin-left: 1em;
	}
	blockquote {
		padding: 0;
		text-align: left;
		display: inline-block;
		border-left: none;
	}
}

.feedback {
	padding: 120px 0;
	overflow: hidden;
	color: #fff;
	background: #3c5499;
	input::-moz-placeholder {
		color: #fff; 
	}
	form {
		margin: 0 auto;
	}
	input::-webkit-input-placeholder 
	{ color: #fff; 
	}
	textarea::-moz-placeholder 
	{ color: #fff; 
	}
	textarea::-webkit-input-placeholder 
	{ color: #fff; 
	}
	h1 {
		line-height: 50px;
		margin-bottom: 20px;
	}
	hr {
		background-color: #273a71;
		border-bottom: 5px solid #273a71;
		width: 85px;
		height: 4px;
		margin: 0 auto 25px;
		border: none;
	}
	p {
		line-height: 30px;
		margin-bottom: 45px;
	}
	input {
		margin-top: 25px;
		background: #273a71;
		color: #fff;
		padding: 24px;
		border: none;
		outline: none;
	}
	textarea {
		background: #273a71;
		margin-top: 25px;
		color: #fff;
		padding: 24px;
		border: none;
		outline: none;
	}
	.btn.btn-default {
		color: #fff;
		line-height: 18px;
		background: #30bae7;
		padding: 25px 70px;
		margin-top: 60px;
		font-size: large;
		border: none;
		box-shadow: 0px 5px 2px rgba(83,212,251,168.6);
		text-transform: uppercase;
	}
	.btn.btn-default:hover {
		color: #000;
	}
}

#footer {
	padding: 40px 0;
	text-align: center;
	width: 100%;
	display: block;
	overflow: hidden;
	background: #344b8e;
	a {
		color: #fff;
		margin: auto 50px;
		text-decoration: none;
		font: 24px "titilliumsemibold";
	}
	a:hover{
		color: #327fb8;
	}
	.active{
		color: #327fb8;
	}
}